@use "variable" as v;
@use "common" as c;
/*************************************************
top
*************************************************/
.kv {
  width: 100vw;
  height: 100svh;
  position: relative;
  margin-bottom: 18rem;
  @include c.mq() {
    margin-bottom: 10rem;
  }
  .top-kvSwiper {
    height: 100%;
    .img-box {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include c.mq() {
          object-position: 70%;
        }
      }
    }
  }
  h1 {
    position: absolute;
    bottom: v.pxtovw(50);
    left: v.pxtovw(120);
    z-index: 1;
    font-family: v.$font-shuei;
    font-size: v.pxtovw(80);
    line-height: 1.3;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: v.$shadow04;
    @include c.mq() {
      bottom: v.pxtovw_sp(50);
      left: v.pxtovw_sp(20);
      font-size: v.pxtovw_sp(30);
    }
    span {
      font-size: v.pxtovw(38);
      margin-bottom: 1rem;
      @include c.mq() {
        font-size: v.pxtovw_sp(16);
      }
    }
  }
  .swiper-slide-active .swiper-img,
  .swiper-slide-duplicate-active .swiper-img,
  .swiper-slide-prev .swiper-img {
    animation: zoomUp 7s linear 0s normal both;
  }
  .swiper-slide img {
    height: auto;
    width: 100%;
  }
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

section {
  &#mission {
    position: relative;
    margin-bottom: 15rem;
    @include c.mq() {
      margin-bottom: 10rem;
    }
    .textSwiper01 {
      position: absolute;
      top: 2.5rem;
      left: 0;
      width: 100vw;
      z-index: -1;
      @include c.mq() {
        top: 2rem;
      }
      .swiper-wrapper {
        transition-timing-function: linear !important;
      }
    }
    .ttl-wrap {
      margin-bottom: 7.6rem;
      @include c.mq() {
        margin-bottom: 3rem;
      }
      .en {
        &::before {
          bottom: -1rem;
          @include c.mq() {
            margin-bottom: 4rem;
          }
        }
      }
    }
    .content {
      display: flex;
      @include c.mq() {
        flex-direction: column;
      }
      .left {
        width: clamp(40rem, v.pxtovw(620), 62rem);
        @include c.mq() {
          width: 100%;
        }
      }
      .right {
        padding-top: 3rem;
        padding-left: v.pxtovw(100);
        @include c.mq(md) {
          padding-top: 0;
          padding-left: 3rem;
        }
        @include c.mq() {
          padding-top: 3rem;
          padding-left: 0;
        }
        p {
          line-height: 2;
          margin-bottom: 5rem;
          @include c.mq() {
            margin-bottom: 4rem;
          }
        }
      }
    }
  }

  &#products {
    position: relative;
    margin-bottom: 19.5rem;
    padding-top: 7.3rem;
    @include c.mq() {
      margin-bottom: 10rem;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: v.pxtovw(1120);
      aspect-ratio: 1/0.52;
      max-height: 60rem;
      background: v.$gradient01;
      z-index: -1;
      @include c.mq() {
        width: 100%;
        aspect-ratio: 1/1.4;
      }
    }
    .ttl-wrap {
      margin-bottom: 4rem;
      .en {
        margin-bottom: 1.5rem;
        @include c.mq() {
          margin-bottom: 1rem;
        }
        &::before {
          top: -2rem;
          @include c.mq() {
            top: -1.2rem;
          }
        }
      }
    }
    .content {
      display: flex;
      @include c.mq() {
        flex-direction: column;
      }
      .product {
        width: calc(100% / 3);
        aspect-ratio: 1/1.19;
        @include c.mq() {
          width: 100%;
          aspect-ratio: 1/0.6;
        }
        a {
          @include c.flex(start, end);
          height: 100%;
          transition: all 0.3s;
          &:hover {
            background-size: 110% !important;
            div {
              background-color: v.$color-blue;
            }
          }
          div {
            @include c.flex(between, center);
            width: 100%;
            height: 9rem;
            background-color: rgba($color: #fff, $alpha: 0.2);
            padding: 3rem 2rem;
            font-size: 1.8rem;
            color: #fff;
            text-shadow: v.$shadow07;
            transition: all 0.3s;
            @include c.mq() {
              height: 7rem;
              font-size: 1.6rem;
              padding: 1.5rem v.pxtovw_sp(20);
            }
          }
        }
        &:first-of-type {
          a {
            background: url(images/top_products-img01.jpg) no-repeat center/100%;
          }
        }
        &:nth-of-type(2) {
          a {
            background: url(images/top_products-img02.jpg) no-repeat center/100%;
          }
        }
        &:last-of-type {
          a {
            background: url(images/top_products-img03.jpg) no-repeat center/100%;
          }
        }
      }
    }
  }

  &#safety {
    position: relative;
    margin-bottom: 11.2rem;
    z-index: 0;
    @include c.mq() {
      margin-bottom: 8rem;
    }
    .img-box {
      @include c.mq() {
        aspect-ratio: 1/0.6;
      }
    }
    .content {
      position: relative;
      width: v.pxtovw(1220);
      margin-left: auto;
      margin-top: -11rem;
      padding: 8.5rem v.pxtovw(220) 6.7rem v.pxtovw(140);
      background-color: #fff;
      z-index: 1;
      box-shadow: v.$shadow05;
      @include c.mq(md) {
        width: 90%;
        padding: 8.5rem v.pxtovw(60) 6.7rem v.pxtovw(100);
      }
      @include c.mq() {
        width: 90%;
        max-width: 650px;
        margin: v.pxtovw_sp(-120) auto 0;
        padding: v.pxtovw_sp(60) v.pxtovw_sp(20);
      }
      .inner {
        @include c.mq(md) {
          width: 100%;
        }
      }
      .ttl-wrap {
        @include c.flex(start, center);
        gap: 6rem;
        margin-bottom: 4rem;
        @include c.mq() {
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
        }
        .en {
          margin-bottom: 0;
          &::before {
            top: -2rem;
            @include c.mq() {
              top: -1.2rem;
            }
          }
        }
      }
      p {
        line-height: 2.2;
        margin-bottom: 5rem;
        padding-left: v.pxtovw(165);
        @include c.mq() {
          padding-left: 0;
        }
      }
      .btn-wrap {
        margin-left: auto;
        @include c.mq() {
          margin: 0;
        }
      }
    }
  }

  &#news {
    position: relative;
    background: v.$gradient01;
    padding: 14.6rem 0 25.4rem;
    @include c.mq() {
      padding: 8rem 0 v.pxtovw_sp(150);
    }
    .content {
      max-width: 110rem;
      margin: 0 auto;
      @include c.flex(between, top);
      @include c.mq() {
        flex-direction: column;
      }
      .left {
        .ttl-wrap {
          margin-bottom: 4rem;
          @include c.mq() {
            margin-bottom: 3rem;
          }
          .en {
            margin-bottom: 2rem;
            @include c.mq() {
              margin-bottom: 1rem;
            }
            &::before {
              top: -2rem;
              @include c.mq() {
                top: -1.2rem;
              }
            }
          }
        }
      }
      .right {
        width: 57rem;
        @include c.mq(md) {
          width: 45rem;
        }
        @include c.mq() {
          width: 100%;
          margin-bottom: 4rem;
        }
        dl {
          a {
            display: block;
            padding: 1.8rem 0;
            border-bottom: 0.5px solid #393939;
            transition: all 0.3s;
            @include c.mq() {
              padding: 1.5rem 0;
            }
            &:hover {
              background-color: rgba($color: v.$color-blue, $alpha: 1);
              border-bottom: 0.5px solid #fff;
              padding-left: 2rem;
              dt,
              dd {
                color: #fff;
              }
            }
          }
          dt {
            color: v.$color-blue;
            font-weight: 700;
            margin-bottom: 8px;
          }
          dd {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s;
          }
        }
      }
    }
    .textSwiper02 {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100vw;
      z-index: 1;
      .swiper-wrapper {
        transition-timing-function: linear !important;
      }
    }
  }
}
