@use "variable" as v;
@use "common" as c;
/*************************************************
下層ページ
*************************************************/
// 下層共通
.under_head {
  margin-top: 9.8rem;
  .inner {
    max-width: 100rem;
  }
  .under_head_ttl {
    h1 {
      font-weight: 200;
    }
  }
  &.head-left {
    .inner {
      padding: 15rem 0 6.5rem;
    }
    .under_head_ttl {
      .en {
        margin-bottom: 2rem;
        &::before {
          width: 8.5rem;
          top: 8px;
          left: -10rem;
        }
      }
    }
    h1 {
      font-size: 6.8rem;
      span {
        font-size: 2.2rem;
        font-weight: 400;
      }
      &:has(span) {
        line-height: 1.3;
        margin-top: -4rem;
      }
    }
  }
  &.head-center {
    background: linear-gradient(
      90deg,
      rgba(240, 247, 253, 1) 0%,
      rgba(248, 249, 239, 1) 55%,
      rgba(255, 251, 227, 1) 100%
    );
    .inner {
      padding: 10rem 0;
    }
    .under_head_ttl {
      text-align: center;
      .en {
        display: inline-block;
        margin-bottom: 3rem;
        &::before {
          width: 100%;
          top: 2.5rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      h1 {
        font-size: 4.2rem;
      }
    }
  }
}
.p-under,
.p-product,
.p-test {
  .inner {
    max-width: 100rem;
  }
}

// 取扱製品
.p-product {
  &.about-product {
    padding: 14.2rem 0 10rem;
    .ttl-wrap {
      .en {
        &::before {
          width: 10rem;
          top: auto;
          bottom: -1rem;
        }
      }
      h2 {
        font-weight: 400;
      }
    }
    .flex {
      @include c.flex(start, center);
      gap: 7rem;
      .left {
        padding-left: 2rem;
        .img-box {
          width: 30rem;
        }
      }
      .right {
        p {
          line-height: 2.2;
          @include c.mq() {
            line-height: 1.7;
          }
        }
      }
    }
    .textSwiper01 {
      margin-top: -9rem;
      z-index: -1;
    }
    &.prod02 {
      .flex {
        margin-top: 2rem;
        .left {
          padding-left: 7rem;
          .img-box {
            width: 25.3rem;
          }
        }
      }
      .textSwiper01 {
        margin-top: -7rem;
      }
    }
    &.prod03 {
      .flex {
        align-items: flex-start;
        gap: 11rem;
        .left {
          padding-left: 10rem;
          .img-box {
            width: 13.7rem;
          }
        }
        .right {
          .ttl-wrap {
            margin-bottom: 8.7rem;
          }
        }
      }
      .textSwiper01 {
        margin-top: -3rem;
      }
    }
  }
  &.fetures,
  &.types,
  &.specific,
  &.other-products {
    .ttl-wrap {
      margin-left: 2.5rem;
      margin-bottom: 4rem;
      .en {
        margin-bottom: 1.5rem;
        &::before {
          content: "";
          width: 1px;
          height: 8rem;
          position: absolute;
          top: 3px;
          left: -2.5rem;
        }
      }
    }
  }
  &.fetures {
    background: v.$gradient01;
    padding: 13.8rem 0 19.1rem;
    .ttl-wrap {
      margin-left: 3.5rem;
      margin-bottom: 3.5rem;
      .en {
        margin-bottom: 2rem;
        &::before {
          content: "";
          width: 1px;
          height: 8rem;
          position: absolute;
          top: 3px;
          left: -3.5rem;
        }
      }
    }
    .glid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3列 */
      grid-template-rows: repeat(2, auto); /* 2行 */
      gap: 17px;
      .box {
        padding: 6.3rem 0 5.6rem;
        background-color: #fff;
        border-radius: 5px;
        $shadow09: 0px 0px 5px rgba(#000000, 0.05);
        h3 {
          font-size: 2.2rem;
          font-weight: 700;
          text-align: center;
          margin-bottom: 2rem;
        }
        .img-box {
          width: 7.5rem;
          margin: 0 auto 2.5rem;
        }
        p {
          line-height: 1.7;
          text-align: center;
        }
      }
    }
    &.prod02 {
      padding-bottom: 30rem;
    }
  }
  &.types {
    margin-top: -11rem;
    .types-wrapper {
      max-width: 120rem;
      margin: 0 auto;
      padding: 8rem 0 10rem;
      background-color: #fff;
      box-shadow: 0px 0px 99px rgba(#ddefff, 1);
    }
    .img-box {
      img {
        filter: drop-shadow(v.$shadow05);
      }
    }
    &.prod03 {
      .img-box {
        margin-top: -6rem;
      }
    }
  }
  &.specific {
    padding: 17.5rem 0 21rem;
    .img-box {
      box-shadow: v.$shadow05;
    }
  }
  &.other-products {
    position: relative;
    padding-top: 11rem;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: v.pxtovw(1144);
      aspect-ratio: 1/0.47;
      background-color: #f0f7fd;
      z-index: -1;
    }
    .inner {
      @include c.flex(between, start);
    }
    .content {
      width: 70rem;
      display: flex;
      @include c.mq() {
        flex-direction: column;
      }
      .product {
        width: calc(100% / 2);
        aspect-ratio: 1/1;
        @include c.mq() {
          width: 100%;
          aspect-ratio: 1/0.6;
        }
        a {
          @include c.flex(start, end);
          height: 100%;
          transition: all 0.3s;
          &:hover {
            background-size: 110% !important;
            div {
              background-color: v.$color-blue;
            }
          }
          div {
            @include c.flex(between, center);
            width: 100%;
            height: 9rem;
            background-color: rgba($color: #fff, $alpha: 0.2);
            padding: 3rem 2rem 3rem 3.6rem;
            font-size: 1.4rem;
            color: #fff;
            text-shadow: v.$shadow07;
            transition: all 0.3s;
            @include c.mq() {
              height: 7rem;
              font-size: 1.6rem;
              padding: 1.5rem v.pxtovw_sp(20);
            }
          }
        }
        &.prod01 {
          a {
            background: url(images/top_products-img01.jpg) no-repeat center/100%;
          }
        }
        &.prod02 {
          a {
            background: url(images/top_products-img02.jpg) no-repeat center/100%;
          }
        }
        &.prod03 {
          a {
            background: url(images/top_products-img03.jpg) no-repeat center/100%;
          }
        }
      }
    }
    .textSwiper02 {
      margin-top: -2rem;
      z-index: -1;
    }
  }
}

// 試験情報
.p-test {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: v.pxtovw(1320);
    content: "";
    background-color: #f0f7fd;
    z-index: -1;
  }
  &.quality-safety {
    padding: 10rem 0 4rem;
    .ttl-wrap {
      text-align: center;
      margin-bottom: 3.5rem;
      .en {
        &::before {
          width: 17.8rem;
          top: auto;
          bottom: -1rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    p {
      width: 60rem;
      line-height: 2;
      margin: 0 auto 6rem;
    }
    .flex {
      @include c.flex(center, center);
      gap: 4.6rem;
      .box {
        width: 15rem;
        aspect-ratio: 1/1;
        border: 1px solid v.$color-blue;
        border-radius: 50%;
        background: linear-gradient(
          180deg,
          rgba(240, 247, 253, 0.5) 0%,
          rgba(255, 251, 227, 0.5) 100%
        );
        color: v.$color-blue;
        @include c.flex(center, center);
      }
    }
    .textSwiper01 {
      margin-top: -2rem;
      z-index: -1;
    }
  }
  &.main-test,
  &.other-test {
    .ttl-wrap {
      .en {
        &::before {
          top: -2rem;
        }
      }
    }
  }
  &.main-test {
    padding-top: 18rem;
    &::before {
      aspect-ratio: 1/0.72;
    }
    .ttl-wrap {
      margin-bottom: 5.5rem;
    }
    .inner {
      > .flex {
        @include c.flex(between, end);
        gap: 2.5rem;
        margin-bottom: 15rem;
        .left {
          width: 38rem;
          .img-box {
            width: 100%;
          }
        }
        .right {
          width: 59.6rem;
          .txt {
            line-height: 2;
            padding-left: 3rem;
            margin-bottom: 4.2rem;
            @include c.mq() {
              line-height: 1.7;
            }
          }
          .flex {
            @include c.flex(between, center);
            gap: 1.2rem;
          }
        }
      }
      .box {
        p {
          @include c.flex(center, center);
          height: 5rem;
          background-color: #fff;
          font-size: 1.4rem;
          line-height: 1.2;
          text-align: center;
        }
      }
      .block {
        padding: 8rem 10rem;
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 3rem;
        box-shadow: 0px 0px 99px rgba(#ddefff, 1);
        .ttl {
          position: relative;
          margin-bottom: 4.5rem;
          &::before {
            position: absolute;
            top: 0;
            left: -2rem;
            content: "";
            width: 1px;
            height: 100%;
            background-color: #ffe235;
          }
          h3 {
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
          }
        }
        .flex {
          @include c.flex(between, center);
          gap: 4rem;
          margin-bottom: 4rem;
        }
        .result {
          @include c.flex(center, center);
          width: 7.5rem;
          aspect-ratio: 1/0.45;
          font-weight: 500;
          color: v.$color-blue;
          background: linear-gradient(
            90deg,
            rgba(240, 247, 253, 1) 0%,
            rgba(248, 249, 239, 1) 55%,
            rgba(255, 251, 227, 1) 100%
          );
          margin-bottom: 1.5rem;
        }
        .txt {
          line-height: 2.4;
          @include c.mq() {
            line-height: 0.7;
          }
        }
      }
      .info {
        margin-top: 11rem;
        h4 {
          @include c.flex(center, center);
          width: 16rem;
          aspect-ratio: 1/0.25;
          color: v.$color-blue;
          border: 1px solid v.$color-blue;
          margin: 0 auto 2.4rem;
        }
        > div {
          @include c.flex(between, center);
          margin-bottom: 22.8rem;
          .left {
            flex-basis: 54%;
            table {
              th {
                width: 20%;
              }
            }
          }
          .right {
            flex-basis: 41%;
            table {
              th {
                width: 48%;
              }
            }
          }
          table {
            table-layout: fixed;
            width: 100%;
            th,
            td {
              padding: 1.2rem 0;
              color: v.$color-blue;
              border-bottom: 1px solid v.$color-blue;
            }
            tr {
              &:last-of-type {
                th,
                td {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &.other-test {
    position: relative;
    padding-top: 14rem;
    &::before {
      aspect-ratio: 1/0.66;
    }
    .ttl-wrap {
      margin-bottom: 5.5rem;
    }
    p {
      line-height: 2.2;
      margin-bottom: 7.5rem;
      @include c.mq() {
        line-height: 1.7;
      }
    }
    table {
      width: 76.9rem;
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 0 10px;
      margin: 0 auto 12rem;
      th,
      td {
        padding: 1rem;
      }
      th {
        width: 27%;
        color: #fff;
        text-align: center;
        background-color: v.$color-blue;
      }
      td {
        color: v.$color-blue;
        background-color: #fff;
        padding-left: 5rem;
      }
    }
  }
}

// 会社概要
.textSwiper01 {
  &.company {
    margin-top: -1rem;
    z-index: -1;
  }
}
.p-company {
  margin-top: 22.5rem;
  margin-bottom: 35rem;
  .inner {
    max-width: 100rem;
    @include c.flex(between, start);
  }
  .left {
    padding-left: 3.5rem;
    .ttl-wrap {
      .en {
        margin-bottom: 2rem;
        &::before {
          content: "";
          width: 1px;
          height: 8rem;
          position: absolute;
          top: 3px;
          left: -3.5rem;
        }
      }
    }
  }
  .right {
    max-width: 72rem;
    table {
      table-layout: fixed;
      width: 100%;
      background: linear-gradient(
        90deg,
        rgba(240, 247, 253, 1) 0%,
        rgba(248, 249, 239, 1) 55%,
        rgba(255, 251, 227, 1) 100%
      );
      border-collapse: separate;
      border-spacing: 0 4px;
      tr {
        background-color: #fff;
      }
      th,
      td {
        padding: 2rem 0;
      }
      th {
        width: 28%;
        text-align: center;
      }
      td {
        padding-left: 4rem;
      }
    }
  }
}

// お知らせ
.p-news {
  margin-top: 4.8rem;
  &.p-archive {
    margin-bottom: 26rem;
  }
  &.p-single {
    margin-bottom: 10rem;
  }
  .cate-wrap {
    padding: 4rem 6rem;
    background: linear-gradient(
      90deg,
      rgba(240, 247, 253, 1) 0%,
      rgba(248, 249, 239, 1) 55%,
      rgba(255, 251, 227, 1) 100%
    );
    display: flex;
    gap: 6rem;
    margin-bottom: 10rem;
    a {
      position: relative;
      display: inline-block;
      color: v.$color-blue;
      font-weight: 700;
      &.active {
        &::before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: #ffe235;
          position: absolute;
          bottom: -1rem;
        }
      }
    }
  }
  dl {
    box-shadow: v.$shadow08;
    margin-bottom: 1rem;
    a {
      display: flex;
      align-items: center;
      padding: 1.9rem;
    }
    dt {
      width: 30%;
      @include c.flex(center, center);
      gap: 4rem;
      .cate {
        min-width: 11rem;
        border: 1px solid v.$color-blue;
        color: v.$color-blue;
        padding: 0.5rem 0.5rem;
        text-align: center;
      }
    }
    dd {
      width: 70%;
      padding-left: 8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .contets {
    margin-top: 13rem;
    margin-bottom: 20rem;
    .tag {
      display: flex;
      @include c.flex(start, center);
      gap: 2rem;
      margin-bottom: 2.5rem;
      .cate {
        min-width: 11rem;
        border: 1px solid v.$color-blue;
        color: v.$color-blue;
        padding: 0.5rem 0.5rem;
        text-align: center;
      }
    }
    h1 {
      position: relative;
      font-size: 3.6rem;
      font-weight: 700;
      padding-bottom: 2.5rem;
      margin-bottom: 7rem;
      &::before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 4px;
        background: linear-gradient(
          90deg,
          rgba(240, 247, 253, 1) 0%,
          rgba(248, 249, 239, 1) 55%,
          rgba(255, 251, 227, 1) 100%
        );
      }
    }
    h2,
    h3 {
      margin-bottom: 3rem;
    }
    h2 {
      background: linear-gradient(
        90deg,
        rgba(240, 247, 253, 1) 0%,
        rgba(248, 249, 239, 1) 55%,
        rgba(255, 251, 227, 1) 100%
      );
      padding: 2rem;
    }
    h3 {
      font-size: 2.4rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid;
    }
    h4 {
      font-size: 2rem;
      font-weight: 700;
    }
    h4,
    p {
      margin-bottom: 2rem;
    }
    img {
      max-width: 100%;
      margin-bottom: 2rem;
    }
    p {
      a {
        color: v.$color-blue;
        text-decoration: underline;
      }
    }
  }
  .btn_next-prev {
    margin-bottom: 6rem;
    @include c.flex(center, center);
    gap: 2rem;
    a {
      @include c.flex(center, center);
      border: 1px solid v.$color-blue;
      border-radius: 5px;
      width: 3.4rem;
      aspect-ratio: 1/1;
      color: v.$color-blue;
      font-weight: 700;
    }
  }
}

// お問い合わせ
.p-contact {
  margin-bottom: 25rem;
  .inner {
    padding-top: 9rem;
    > p {
      margin-bottom: 7rem;
      line-height: 2.2;
    }
    > div {
      display: flex;
    }
  }
  .content {
    flex-grow: 1;
    table {
      table-layout: fixed;
      width: 100%;
      margin-bottom: 7rem;
      tr {
        &:not(:last-of-type) {
          td {
            padding-bottom: 2rem;
          }
        }
      }
      th,
      td {
        display: block;
      }
      th {
        padding-bottom: 0.5rem;
      }
      td {
        input,
        textarea {
          width: 100%;
          background-color: #f0f7fd;
          padding: 1rem 2rem;
          border-radius: 5px;
        }
        textarea {
          height: auto;
          aspect-ratio: 1/0.24;
        }
      }
    }
    .btn-wrap {
      position: relative;
      margin: 0 auto;
      &:hover {
        svg {
          path {
            fill: #fff;
          }
        }
      }
      .btn {
        border-radius: 5px;
        border: 2px solid #2e509f;
        padding-left: 0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
      }
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3rem;
        path {
          fill: v.$color-blue;
          transition: all 0.3s;
        }
      }
    }
  }
  aside {
    width: v.pxtovw(220);
    padding-left: v.pxtovw(100);
    padding-top: 3rem;
    flex-shrink: 0;
    .sidebar {
      position: sticky;
      top: 3rem;
    }
    .step {
      @include c.flex(center, center);
      gap: 3rem;
      color: v.$color-blue;
      margin-bottom: 5rem;
      &:last-of-type {
        span {
          &::before {
            display: none;
          }
        }
      }
      &.current {
        span {
          background-color: v.$color-blue !important;
          color: #fff !important;
        }
      }
    }
    span {
      position: relative;
      @include c.flex(center, center);
      border: 1px solid v.$color-blue;
      border-radius: 5px;
      width: 3.4rem;
      aspect-ratio: 1/1;
      &::before {
        content: "";
        width: 1px;
        height: 3rem;
        background-color: v.$color-blue;
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
